
/* some general settings */
html, body {
    margin:0;
    padding:0;
    height:100%;
    background-color: rgb(245, 245, 245);
    font-family: 'Open Sans', 'Lato', 'Roboto', 'PT Sans', 'Cambria', 'Sans Serif';
    

}

main {
    margin:0 auto;
    box-sizing:content-box;
    background-color: rgb(245, 245, 245);
}

header, footer {
    padding: 3%;
    font-family: 'Cambria';
}

p, h1, h2, h3, h4, ul, ol, li, figure, figcaption, div, section, article {
    margin:0;
    padding:0;
}

ul li{
    list-style-type: none;
    display: inline;
}

a {
    text-decoration:none;
}

p{
    font-size: 0.95em;
}
/* END: some general settings */


/* Header customizations */
header {
    background-image: url('https://www.dropbox.com/s/bo9w7i1bd3j77xf/header_bg.webp?dl=1');
    min-height: 100vh;
    background-size: cover;
    padding: 1em 1em 0 2em;
}

#website-navigation ul{
    text-align: right;
    color: rgb(253, 253, 253);
    word-spacing: 0.1em;
}

#website-navigation li:nth-child(-n+3){
    border-right: 2px solid rgb(209, 209, 209);
}

#website-navigation li{
    padding-right: 1%;
}

#website-navigation a:visited {
    color: inherit;
}

#website-navigation a:active {
    color: inherit;
}
#website-navigation a:hover {
    font-weight: 600;
}

h1 {
    color:rgb(253, 253, 253);
    font-size: 7.5vmin;
    text-align: center;
    vertical-align: middle;
    margin-top:0.5em;
    padding-top: 1.8em;
}

#smart-search{
    text-align: left;
}

#smart-search [title]{
    width: 3%;
    max-width: 40px;
    max-height: 40px;
    padding: 0.5em;
    background-color: rgb(255, 255, 255, 0.5);
    background-size: cover;
    
}

#to-introduction {
    display: block;
    text-align: center;
    margin-top: 3em;
}

#to-introduction a{
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url('https://www.dropbox.com/s/nxkr0jwtsv5vn3t/arrow_bottom.png?dl=1');
    background-color:  rgba(255, 255, 255, 0.342);
    background-size: contain;
    border-radius:48%;
    background-repeat: no-repeat;
}
/* END: Header customizations */



/* Main customization */

main a:visited{
    color: black;
}

.webpage-navigation {
    font-size: 0.9em;
    text-align: center;
    padding-top: 1em;
    font-weight: normal;
}

.webpage-navigation a {
    color: black;
}

.webpage-navigation a:active {
    color:rgb(18, 37, 58);
    font-weight: 800;
}

.webpage-navigation a:hover{
    font-weight: 600;
}

section a:link {
    color: inherit;
}

h2 {
    font-size: 1.7em;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}

h3 {
    margin:1em 2em 1em 1.8em;
}

p {
    /*padding:0 2.2em 1em 2.2em;*/
    line-height: 1.5em;
}




/* Introduction styling */
#intro {
    background-image: url('https://www.dropbox.com/s/0n12wcgwzx6x53d/intro_bg.jpg?dl=1');
    background-size: cover;
}

#intro-content {
    max-width:1080px;
    min-height: 1080px;
    margin: auto;
    padding-top: 1.5em;
}

#intro-content h2{
    padding: 1em 0 0.5em 0;
    margin: 1em;
    border-color: rgb(7, 16, 39);
}

#intro-content p {
    max-width: 90%;
    padding: 0 1em;
    margin: 1em;
    font-size: 1.01em;
    line-height: 1.5em;
}

#intro-content p:first-of-type {
    text-indent: 1em;
}

/* END: Introduction styling */




/* Project section styling */
#projects {
    background-image:  url('https://www.dropbox.com/s/yglf7jx7qajzy6n/projects_bg.jpg?dl=1');
    background-size: cover;

}

#projects-content {
    min-height: 1080px;
    padding: 1.5em;
    background-color: rgba(3, 7, 10, 0.87);
    color: #b4b4b4;
}

#projects-content nav a{
    color: #8E9687;
    font-size: 1.1em;
}

#projects-content h2 {
    padding: 0.2em 0;
    margin: 1em 1.2em;
    border-color: #665e5ebe;
    color: #cecbcb;
}

#projects-content > p {
    max-width: 70%;
    margin: 0 0 1em 2em;
    padding-bottom: 1em;
    font-size: 1.03em;
}

.proj-desc {
    box-sizing: content-box;
    display: inline-block;
    max-width: 100%;
    width: 23.5%;
    margin-left: 1%;
    vertical-align:top;
}

.proj-desc h3 {
    margin-left: 1em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid rgba(66, 66, 66, 0.342);
    font-size: 1.3em;
    font-weight:600;
    color: #cecbcb;
}

.proj-desc p {
    background-color: #000505;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    padding: 1.5em;
    font-size: 1.01em;
    color: #b4b4b4;
}

.footnote {
    display: block;
    padding: 1em 0 0 0;
    text-align: right;
    font-style: italic;
    font-size: 0.8em;
    color: #b4b4b4b4;  
}
/* END: Project section styling */




/* data sources section styling */
#data-sources {
    background-image: url('https://www.dropbox.com/s/kcwwxch7twomguh/data_sources_bg.jpg?dl=1');
    background-size: cover;
}

#datasrc-content {
    min-height: 1080px;
    padding: 1.5em 3em 3em 3em;
    background-color: #59363dd8;
    color: #e3d3d6e5;
}

#datasrc-content nav a{
    color: #e3d3d6be;;
}

#datasrc-content h2 {
    padding: 0.2em 0;
    margin: 1em 1.2em;
    border-color: #030101;
    font-weight: bold;
    font-size: 1.7em;
}

#datasrc-content > p {
    max-width: 70%;
    margin: 0 0 1em 2em;
    padding-bottom: 1em;
    font-size: 1.03em;
}

#datasrc-content [href*="dataset"] {
    color: #030101;
}

#datasrc-content a[href*="dataset"]:hover {
    font-weight: 600;
}

.source-desc {
    display: inline-block;
    box-sizing: content-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    width: 45%;;
    margin: 1em 1em 2em 2em;
    vertical-align:middle;
    color: #1A2023;
    
}

.source-desc h3 {
    background-color:  rgb(99, 83,86);
    margin: 0;
    padding: 0.7em 1em;
    border-radius: 4px;
    font-size: 1.3em;
    font-weight:600;
    color: #030101;
}

.source-desc p {
    background-color: #d8bfc5f6;
    padding:1em;
    margin: 0;
    border-left: 0.8em solid #030101;
    border-radius: 4px;
    font-size: 1.01em;
    word-spacing: 0.05em;
    
}

.hyperlink-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    background-image: url('https://www.dropbox.com/s/dk8wibpazd9w8hx/external-link-24.png?dl=1');
    background-size: contain;
}
/* END: data sources section styling */




/* computational resources section styling */
#frameworks {
    background-image: url('https://www.dropbox.com/s/0fviajwb8u1rono/computational-resources.jpg?dl=1');
    background-size: cover;

}

#frameworks-content {
    min-height: 1080px;
    padding: 1.5em 3em 3em 3em;
    background-color: #040e1d4f;
    font-size: 1.01em;
    color:rgb(0, 1, 14);
}

#frameworks-content > p {
    max-width: 60%;
    margin: 0 0 1em 2em;
    padding-bottom: 1em;
}

#frameworks-content h2 {
    padding: 0.2em 0;
    margin: 1em 1.2em;
    border-color: rgba(77, 78, 94, 0.89);
}

.frworks-desc h3{
    text-align: left;
    margin: 0.5em 1em 0.5em 0.5em;
    color: rgb(0, 1, 14);
    font-size: 1.5em;
}

.frworks-desc{
    margin-left: 2em;  
}

.frworks-desc:nth-child(even) {
    margin-right: 45%;
}

.frworks-desc:nth-child(odd) {
    padding-left: 0;
    margin-top:  1em;
    margin-left: 42%;
    text-align: left;
    color: rgba(41, 41, 41, 0.884);
}

.frworks-desc p {
    display: inline-block;
    max-width: 45em;
    padding:1em;
    margin: 0;
    background-color: rgba(223, 223, 223, 0.842);
    border-top: 0.3em solid rgb(41, 41, 41);
    border-left: 0.3em solid rgb(41, 41, 41);
    font-weight: normal;
    color: rgb(41, 41, 41);
}

.frworks-desc:nth-child(odd) p {
    border-left: none;
    border-left: 0.3em solid rgba(41, 41, 41, 0.884);
    text-align: left;
}
/* END: computational resources section styling */




/*footer styling */
footer {
    background-image: url("https://www.dropbox.com/s/066da7op7l9gah1/footer_bg.jpg?dl=1");
    background-size: cover;
    padding: 0%;
}

#footer-content {
    background-color: rgba(4, 0, 0, 0.87);
    color: #dbdbdbe0;
    word-spacing: 0.03em;
    letter-spacing: 0.03em;
    padding: 4em;
}

footer h2 {
    border-bottom: 0px;
    margin: 1em 1.2em;
}

#back-to-top {
    display: block;
    text-align: center;
}

#back-to-top a{
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url('https://www.dropbox.com/s/s1znqdn6xjicyis/arrow_top.png?dl=1');
    background-color:  #2e737a;
    background-size: contain;
    border-radius:48%;
    background-repeat: no-repeat;
}

#site-walkthrough {
    width: 40%;
    margin: 1em;
    font-family: 'Open Sans', 'Lato', 'Roboto', 'PT Sans', 'Cambria', 'Sans Serif';
}

#site-walkthrough p {
     max-width: 90%;
     padding-bottom: 2em;
 }

#social {
    text-align: end;
}

.social-link {
    width: 40px;
    height:40px;
    border-radius:48%;
    border: 2px solid #2e737a;
    background-color: #2e737a;
    display:inline-block;
    margin-right: 0.2em;
}

#facebook {
    background-image: url('https://www.dropbox.com/s/ka8f0uzvzk9ytng/facebook_icon_small.png?dl=1');
}

#linkedin {
    background-image: url('https://www.dropbox.com/s/ujf1iqjsi6h28r7/linkedin_icon_small.png?dl=1');
}

#github {
    background-image: url('https://www.dropbox.com/s/d98vgjxnl8s3muw/github_icon_small.png?dl=1');
}

#docker {
    background-image: url('https://www.dropbox.com/s/31ue6cce1x2g3il/docker_icon_small.png?dl=1');
}

#reddit {
    background-image: url('https://www.dropbox.com/s/auing2c2m7vgpp3/reddit_icon_small.png?dl=1');
}

#misc {
    margin-top: 2em;
    text-align: center;
    color: inherit;
}

#misc li {
    margin-right: 1em;
}

#misc a:visited {
    color: inherit;
}

#misc a:active {
    color: inherit;
}

#misc a:link {
    color: inherit;
}
/* END: footer styling */